.sidebar.span2
	ul.menu.admin
		li
			a.btn(href='/') Return to Home
		li PAGES
			ul
				li
					a(href='/admin/pages/home') Home Page
				li
					a(href='/admin/pages/about-program') About Program
				li
					a(href='/admin/pages/faq') FAQ
				li
					a(href='/admin/pages/apply') Application Page
		li ACTIONS
			ul
				li
					a(href='/admin/actions/applications') View Applications
				li
					a(href='/admin/actions/vouchers') View Vouchers

		