.sidebar.span2.hidden-phone
	ul.menu
		li
			a.btn(href='/') Return to Home
		li ACTIONS
			ul
				li
					a(href='/admin/actions/applications') View Applications
				li
					a(href='/admin/actions/vouchers') View Vouchers
				li
					a(href='/admin/actions/users') Add Users
		li EDIT PAGES
			ul
				li
					a(href='/admin/pages/home') Home Page
				li
					a(href='/admin/pages/about-program') About Gear Trials
				li
					a(href='/admin/pages/get-involved') How to get involved
				li
					a(href='/admin/pages/research') Research
				li
					a(href='/admin/pages/feedback') Fisherman Feedback
				li
					a(href='/admin/pages/gallery') Gallery
				li
					a(href='/admin/pages/faq') FAQ
				li
					a(href='/admin/pages/about') About Us
				li
					a(href='/admin/pages/contact') Contact Us
				li
					a(href='/admin/pages/apply') Application Page
				li
					a(href='/admin/pages/survey') Survey Page

		