.sidebar.span2.hidden-phone
	ul.menu
		li
			a.btn(href='/') Return to Home
		li ACTIONS
			ul
				li
					a(href='/dealer/actions/process') Process Voucher
				li
					a(href='/dealer/actions/vouchers') View Vouchers
				li
					a(href='/dealer/actions/reports') Monthly Reports