.sidebar
	ul.menu.regular
		li
			a.btn(href='/apply') Apply Now
		li
			a.btn(href='/survey') Submit Survey
		li
			a(href="/about-program") ABOUT GEAR TRIALS
				span.caret
			ul
				li
					a(href='/about-program#gear-types') Gear types
				li
					a(href='/about-program#how-program-works') How the program works
				li 
					a(href='/about-program#voucher-information') Voucher Information
				li
					a(href="/about-program#how-to-apply") How to Apply
				li 
					a(href="/about-program#guidelines") Guidelines for participation
				li 
					a(href="/about-program#suppliers") Gear Suppliers
				li 
					a(href="/about-program#dates") Critical Dates
				li 
					a(href="/about-program#feedback") Feedback from fisherman
		li 
			a(href="#") RESEARCH
				span.caret
			ul
				li 
					a(href="#") How to get involved
				li 
					a(href="#") Scientific studies
				li 
					a(href="#") Interim reports
		li 
			a(href="/#news") NEWS & ANNOUNCEMENTS
		li 
			a(href="/gallery") GALLERY
		li 
			a(href="/faq") FAQ
		li
			a(href="#") ABOUT US
		li
			a(href="#") CONTACT US