.sidebar
	ul.menu.regular
		li
			a.btn(href='/apply') Apply Now
		li
			a.btn(href='/survey') Submit Survey
		li
			a(href="/about-program") ABOUT THE PROGRAM
				span.caret
			ul
				li
					a(href='/about-program#how-program-works') How the program works
				li
					a(href='/about-program#gear-types') Gear types
				li 
					a(href='/about-program#voucher-information') Voucher Information
				li 
					a(href="/about-program#suppliers") Gear Suppliers
				li 
					a(href="/about-program#dates") Critical Dates
		li
			a(href="#") HOW TO GET INVOLVED
			ul
				li
					a(href='/about-program#gear-types') Eligibility Criteria
				li 
					a(href="/about-program#guidelines") Guidelines for Participation
				li
					a(href='/about-program#gear-types') Research Participation
				li
					a(href='/about-program#gear-types') How to Apply
		li 
			a(href="/feedback") FISHERMAN FEEDBACK
		li 
			a(href="/research") RESEARCH
		li 
			a(href="/gallery") GALLERY
		li 
			a(href="/faq") FAQ
		li
			a(href="#") ABOUT US
		li
			a(href="#") CONTACT US