.sidebar.span3.hidden-phone
	ul.menu
		li
			a(href="/about-program") About Gear Trials
			ul
				li
					a(href='/about-program#how-program-works') How the program works
				li
					a(href='/about-program#gear-types') Gear types
				li 
					a(href='/about-program#voucher-information') Voucher information
				li 
					a(href="/about-program#suppliers") Gear Suppliers
				li 
					a(href="/about-program#dates") Critical Dates
		li
			a(href="/get-involved") How to get involved
			ul
				li
					a(href='/get-involved#eligibility') Eligibility Criteria
				li 
					a(href="/get-involved#guidelines") Guidelines for Participation
				li
					a(href='/get-involved#apply') How to Apply
				li
					a(href='/get-involved#research') Research Participation
		li 
			a(href="/research") Research
		li 
			a(href="/feedback") Fisherman Feedback
		li 
			a(href="/gallery") Gallery
		li 
			a(href="/faq") Frequently Asked Questions
		li
			a(href="/about") About Us
		li
			a(href="/contact") Contact Us