extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			h1 Apply for the Gear Trials Program:
		h2 Criteria
		!{content.criteria}
		h2 Instructions
		!{content.instructions}
		form#application_form.form-horizontal
			fieldset
				legend Applicant Information:
				.control-group
					label.control-label(for="name") Name: <br/>(Fishing Vessel Owner)
					.controls
						input#name.input-xlarge(type='text')
				.control-group
					label.control-label(for="company_name") Company Name: <br/>(if applicable)
					.controls
						input#company_name.input-xlarge(type='text')
				.control-group
					label.control-label(for="permit") Federal Permit # or State License #:
					.controls
						input#permit.input-xlarge(type='text')
			fieldset
				legend Vessel Information:
				.control-group
					label.control-label(for="vessel_name") Fishing Vessel Name:
					.controls
						input#vessel_name.input-xlarge(type='text')
				.control-group
					label.control-label(for="vessel_port") Home Port:
					.controls
						input#vessel_port.input-xlarge(type='text')
				.control-group
					label.control-label(for="vessel_length") Length:
					.controls
						input#vessel_length.input-mini(type='text')
						span.help-inline ft.
				.control-group
					label.control-label(for="vessel_hp") Horsepower:
					.controls
						input#vessel_hp.input-mini(type='text')
						span.help-inline HP
			fieldset
				legend Contact Information:
				.control-group
					label.control-label(for="contact_email") Email Address:
					.controls
						input#contact_email.input-xlarge(type='text')
				.control-group
					label.control-label Phone:
					.controls
						input#contact_phone_home.input-medium(type='text', placeholder="Home #")
				.control-group
					.controls
						input#contact_phone_cell.input-medium(type='text', placeholder="Cell #")
				.control-group
					label.control-label Residential Address:
					.controls
						input#contact_res_address1.input-xlarge(type='text', placeholder="Address Line 1")
				.control-group
					.controls
						input#contact_res_address2.input-xlarge(type='text', placeholder="Address Line 2")
				.control-group.address
					.controls
						input#contact_res_city.input-medium.city(type='text', placeholder="City")
				.control-group.address
					.controls.state
						select#contact_res_state.input-mini
							option(value='RI') RI
							option(value='MA') MA
							option(value='CT') CT
							option(value='NY') NY
				.control-group.address
					.controls.zip
						input#contact_res_zip.input-mini(type='text', placeholder='Zip')
				.control-group
					label.control-label Mailing Address:
					.controls
						label.checkbox
							input#mailing(type='checkbox', checked)
							span Same as residential
			fieldset#mailing_address.hide
				.control-group
					.controls
						input#contact_mailing_address1.input-xlarge(type='text', placeholder="Address Line 1")
				.control-group
					.controls
						input#contact_mailing_address2.input-xlarge(type='text', placeholder="Address Line 2")
				.control-group.address
					.controls
						input#contact_mailing_city.input-medium.city(type='text', placeholder="City")
				.control-group.address
					.controls.state
						select#contact_mailing_state.input-mini
							option(value='RI') RI
							option(value='MA') MA
							option(value='CT') CT
							option(value='NY') NY
				.control-group.address
					.controls.zip
						input#contact_mailing_zip.input-mini(type='text', placeholder='Zip')
			fieldset
				legend Voucher Gear Type(s)
				.control-group
					label.control-label Voucher:
					.controls
						label.checkbox
							input#drop_chain(type='checkbox')
							span 12" Drop Chain
						label.checkbox
							input#belly_panel(type='checkbox')
							span Large Mesh Belly Panel
						p.help-block Choose one or both of the options above.
						p.help-block
							a(href='/about-program#voucher-information', target="_blank") Click to view voucher information
			fieldset
				legend Research
				p Would you like to be considered for Research Team participation?
				ul.unstyled
					li Criteria for consideration:
						ul
							li 60-70' fishing vessel
							li Willing to fish in the Deep Hole east of Block Island or southwest of Block Island in the whiting fishery
							li 450-600 HP
				label.checkbox
					input#research(type='checkbox')
					span Yes, I would like to be considered for the research team.
			fieldset#research_info.hide
				.control-group
					label.control-label What size nets do you tow?
					.controls
						input#net_size.input-mini(type='text')
				.control-group
					label.control-label What size doors do you tow?
					.controls
						input#door_size.input-mini(type='text')
				.control-group
					label.control-label How many crew members do you have?
					.controls
						input#research_crew.input-mini(type='text')
				p Is there another fishing vessel(s) that you know of that is comparable in size, horsepower, with the same fishing nets, doors, legs, and ground cable that would be willing to pair up with your vessel? If so, please detail the fishing vessel and owner names below.
				textarea#companions
			fieldset
				legend Submit Application
				label.checkbox
					input#verify(type='checkbox')
					span I verify that the information supplied in the above application form is accurate.
				.control-group
					.controls
						input.btn.btn-primary(type='submit', value="Submit Application")
	#apply_modal.modal.hide
		.modal-header
			h3.error Error Submitting Application
			h3.success Application Submitted
		.modal-body.error
			p There was an error submitting your application. Please wait a few seconds, then try again. If the error continues, please contact:
		.modal-body.success
			p Thank you for appliying to participate in the "Gear Trials Program". Your application has been received and will be reviewed as quickly as possible. If the application package is complete, and you are found to meet the eligibility criteria, you should receive your voucher(s) within two weeks. In the meantime, if you have any questions, please contact:
			address
				strong Jane Dickinson, Administrative Assistant
				br
				span Commercial Fisheries Research Foundation
				br
				span P.O. Box 278
				br
				span Saunderstown, RI 02874
				br
				span Phone: (401) 515-4892
				br
				span Fax: (401) 515-3537
				br
				span Email: <a href="mailto:jdickinson@cfrfoundation.org">jdickinson@cfrfoundation.org</a>
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Close

