extends layout

block content
	.row
		.hero-unit
			h1 Apply to the Gear Trials Project
			p Information goes here
	.row
		.page-header
			h1 Criteria:
	.row
		.page-header
			h1 Apply Online:
	.row
		form#application_form.form-horizontal.span6.offset3
			fieldset
				legend Applying for:
					.control-group
						label.control-label(for="voucher_type") Type:
						.controls
							select#voucher_type
								option(selected) Belly Panel
								option Drop Chain (Small Vessel)
								option Drop Chain (Large Vessel)
			fieldset
				legend Contact Information
				.control-group
					label.control-label(for="name") Name:
					.controls
						input#name.input-xlarge(type='text')
				.control-group
					label.control-label(for="email") Email:
					.controls
						input#email.input-xlarge(type='text')
				.control-group
					label.control-label(for="phone") Phone #:
					.controls
						input#phone.input-xlarge(type='text')
			fieldset
				legend Vessel Information
				.control-group
					label.control-label(for="vessel") Vessel:
					.controls
						input#vessel.input-xlarge(type='text')
				.control-group
					label.control-label(for="permit") Permit # or State Landing License #:
					.controls
						input#permit.input-xlarge(type='text')
			.control-group
				.controls
					input.btn.btn-large.btn-primary(type="submit", value="Apply")
	#apply_modal.modal.hide
		.modal-header
			h3 Confirm Application 
		.modal-body
			p Please confirm the information on your application. Once submitted, the CFRF will review your application and contact you with the results.
			dl.dl-horizontal
				dt Applying For:
				dd#apply_type
				dt Name:
				dd#apply_name
				dt Email:
				dd#apply_email
				dt Phone:
				dd#apply_phone
				dt Vessel:
				dd#apply_vessel
				dt Permit:
				dd#apply_permit
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Cancel
			a#apply_confirm.btn.btn-primary(href='#') Confirm
