extends layout

block content
	.row
		.hero-unit
			h1 Apply to the Gear Trials Project
			p Information goes here
	.row
		.page-header
			h1 Criteria:
	.row
		.page-header
			h1 Apply Online:
	.row
		form#issue_voucher.form-horizontal.span6.offset3
			fieldset
				legend Contact Information
				.control-group
					label.control-label(for="voucher_name") Name:
					.controls
						input#voucher_name.input-xlarge(type='text')
				.control-group
					label.control-label(for="voucher_email") Email:
					.controls
						input#voucher_email.input-xlarge(type='text')
				.control-group
					label.control-label(for="voucher_phone") Phone #:
					.controls
						input#voucher_phone.input-xlarge(type='text')
			fieldset
				legend Vessel Information
				.control-group
					label.control-label(for="voucher_vessel") Vessel:
					.controls
						input#voucher_vessel.input-xlarge(type='text')
				.control-group
					label.control-label(for="voucher_permit") Permit # or State Landing License #:
					.controls
						input#voucher_permit.input-xlarge(type='text')
			.control-group
				.controls
					a#apply_button.btn.btn-large.btn-primary Apply

