extends layout

block content
	.row
		.hero-unit
			h1 Apply to the Gear Trials Project
			p Information goes here
	.row
		.page-header
			h1 Criteria:
	.row
		.page-header
			h1 Apply Online:
	.row
		form#application_form.form-horizontal.span6.offset3
			fieldset
				legend Contact Information
				.control-group
					label.control-label(for="name") Name:
					.controls
						input#name.input-xlarge(type='text')
				.control-group
					label.control-label(for="email") Email:
					.controls
						input#email.input-xlarge(type='text')
				.control-group
					label.control-label(for="phone") Phone #:
					.controls
						input#phone.input-xlarge(type='text')
			fieldset
				legend Vessel Information
				.control-group
					label.control-label(for="vessel") Vessel:
					.controls
						input#vessel.input-xlarge(type='text')
				.control-group
					label.control-label(for="permit") Permit # or State Landing License #:
					.controls
						input#permit.input-xlarge(type='text')
			.control-group
				.controls
					input.btn.btn-large.btn-primary(type="submit", value="Apply")

