extends layout

block content
	.span10.offset2.page
		.page-header
			h1 Image Gallery
		#gallery
			a(rel='gallery', href='/img/gallery/BellyPanel1.jpg', title="Belly Panel 1")
				img(src='/img/gallery/BellyPanel1_t.jpg', width='200', height='200')
			