extends layout

block content
	include ./sidebars/sidebar
	.span10.offset2.page
		.page-header
			h1 Image Gallery
		#gallery
			a(rel='gallery', href='/img/gallery/BellyPanel1.jpg', title="Belly Panel 1")
				img(src='/img/gallery/BellyPanel1_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/BellyPanel2.jpg', title="Belly Panel 2")
				img(src='/img/gallery/BellyPanel2_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/BellyPanel3.jpg', title="Belly Panel 3")
				img(src='/img/gallery/BellyPanel3_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/DropChain1.jpg', title="Drop Chain 1")
				img(src='/img/gallery/DropChain1_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/DropChain2.jpg', title="Drop Chain 2")
				img(src='/img/gallery/DropChain2_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/DropChain3.jpg', title="Drop Chain 3")
				img(src='/img/gallery/DropChain3_t.jpg', width='200', height='200')
			a(rel='gallery', href='/img/gallery/DropChain4.jpg', title="Drop Chain 4")
				img(src='/img/gallery/DropChain4_t.jpg', width='200', height='200')

