extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			h1 Image Gallery
		ul.gallery.thumbnails
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/belly panel.png', title="Belly Panel Diagram")
					img(src='/img/gallery/belly panel_t.png')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Belly Panel 1.jpg', title="Belly Panel 1")
					img(src='/img/gallery/Belly Panel 1_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Belly Panel 2.jpg', title="Belly Panel 2")
					img(src='/img/gallery/Belly Panel 2_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Belly Panel 3.jpg', title="Belly Panel 3")
					img(src='/img/gallery/Belly Panel 3_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/drop chain illustration.png', title="Drop Chain Illustration")
					img(src='/img/gallery/drop chain illustration_t.png')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain1.jpg', title="Drop Chain 1")
					img(src='/img/gallery/Drop Chain1_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain2.jpg', title="Drop Chain 2")
					img(src='/img/gallery/Drop Chain2_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain3.jpg', title="Drop Chain 3")
					img(src='/img/gallery/Drop Chain3_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain4.jpg', title="Drop Chain 4")
					img(src='/img/gallery/Drop Chain4_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain5.jpg', title="Drop Chain 5")
					img(src='/img/gallery/Drop Chain5_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain6.jpg', title="Drop Chain 6")
					img(src='/img/gallery/Drop Chain6_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain7.jpg', title="Drop Chain 7")
					img(src='/img/gallery/Drop Chain7_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain8.jpg', title="Drop Chain 8")
					img(src='/img/gallery/Drop Chain8_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain9.jpg', title="Drop Chain 9")
					img(src='/img/gallery/Drop Chain9_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain10.jpg', title="Drop Chain 10")
					img(src='/img/gallery/Drop Chain10_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain11.jpg', title="Drop Chain 11")
					img(src='/img/gallery/Drop Chain11_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-1ft Head Rope Slack-Flume Tank.jpg', title="Drop Chain - 1ft Head Rope Slack")
					img(src='/img/gallery/Drop Chain-1ft Head Rope Slack-Flume Tank_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-2ft Head Rope Slack-Flume Tank.jpg', title="Drop Chain - 2ft Head Rope Slack")
					img(src='/img/gallery/Drop Chain-2ft Head Rope Slack-Flume Tank_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-3ft Head Rope Slack-Flume Tank.jpg', title="Drop Chain - 3ft Head Rope Slack")
					img(src='/img/gallery/Drop Chain-3ft Head Rope Slack-Flume Tank_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-Flume Tank1.jpg', title="Drop Chain - Flume Tank 1")
					img(src='/img/gallery/Drop Chain-Flume Tank1_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-Flume Tank2.jpg', title="Drop Chain - Flume Tank 2")
					img(src='/img/gallery/Drop Chain-Flume Tank2_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/Drop Chain-Flume Tank3.jpg', title="Drop Chain - Flume Tank 3")
					img(src='/img/gallery/Drop Chain-Flume Tank3_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/pic1.jpg', title="Picture")
					img(src='/img/gallery/pic1_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/pic2.jpg', title="Picture")
					img(src='/img/gallery/pic2_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/pic3.jpg', title="Picture")
					img(src='/img/gallery/pic3_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/pic4.jpg', title="Picture")
					img(src='/img/gallery/pic4_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/pic5.jpg', title="Picture")
					img(src='/img/gallery/pic5_t.jpg')
			li.span3
				a.thumbnail(rel='gallery', href='/img/gallery/map.jpg', title="Map")
					img(src='/img/gallery/map_t.jpg')





