extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			a(name="eligibility")
			h1 Eligibility Criteria
		!{content.eligibility}
		.page-header
			a(name="guidelines")
			h1 Guidelines for Participation
		!{content.guidelines}
		.page-header
			a(name="apply")
			h1 How to Apply
		!{content.apply}
		.page-header
			a(name="research")
			h1 Research Participation
		!{content.research}




