extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			h1 Eligibility Criteria
		!{content.eligibility}
		.page-header
			h1 Guidelines for Participation
		!{content.guidelines}
		.page-header
			h1 Research Participation
		!{content.research}
		.page-header
			h1 How to Apply
		!{content.apply}




