#header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a(href='/')
				img(src='/img/logo.png', height='80')
			p A project of the Commercial Fisheries Research Foundation
			#buttons
				a(href='/apply') Apply Now
				a(href='/survey') Submit Survey
				- if(session.user)
					a(href='/admin') Admin
					a(href='/logout') Logout
				- else
					a#login_button(href='#') Login
				#login_area
					form#login_form.well(method='POST', action='/login')
						input#email(type='text', name='email', placeholder="Email")
						input#password(type='password', name='password', placeholder="Password")
						input.btn(type='submit', value="Login")

			//
				.pull-right
					- if(session.user)
						.btn-group
							button.btn.dropdown-toggle(data-toggle='dropdown', href='#') #{session.user.name}
								span.caret
							ul.dropdown-menu
								li
									a(href='/admin') Admin
								li
									a(href='/logout') Logout
					- else
						a.btn(href='#login_modal', data-toggle="modal") Login
#sidebar_phone.visible-phone(style="margin: 10px 0;")
	ul.nav.nav-pills
		li.dropdown
			a.dropdown-toggle(data-toggle='dropdown', href="#") About Gear Trials
				b.caret
			ul.dropdown-menu
				li
					a(href='/about-program#how-program-works') How the program works
				li
					a(href='/about-program#gear-types') Gear types
				li 
					a(href='/about-program#voucher-information') Voucher information
				li 
					a(href="/about-program#suppliers") Gear Suppliers
				li 
					a(href="/about-program#dates") Critical Dates
		li.dropdown
			a.dropdown-toggle(data-toggle='dropdown', href="#") How to get involved
				b.caret
			ul.dropdown-menu
				li
					a(href='/get-involved#eligibility') Eligibility Criteria
				li 
					a(href="/get-involved#guidelines") Guidelines for Participation
				li
					a(href='/get-involved#apply') How to Apply
				li
					a(href='/get-involved#research') Research Participation
		li
			a(href="/research") Research
		li
			a(href="/feedback") Fisherman Feedback
		li 
			a(href="/gallery") Gallery
		li 
			a(href="/faq") Frequently Asked Questions
		li
			a(href="/about") About Us
		li
			a(href="/contact") Contact Us