.navbar.navbar-fixed-top
	.navbar-inner
		.container.header
			a.brand(href='/') Gear Trials Project
			ul.nav
				li
					a(href='#') Reports
				li
					a(href='#') Articles
				li
					a(href='#') Gallery
				li
					a(href='#') About
			ul.nav.pull-right
				li.divider-vertical
				- if (!session.user)
					li
						a(href='#').login Login
						.login-area
							form#login_form(method="POST", action="/login")
								label(for='email') Email
								input#email(type='text', name="email")
								label.control-label(for='password') Password:
								input#password(type='password', name="password")
								input.btn.btn-primary(type='submit', value='Login')
					li
						a(href='#').register Register
						.register-area
							form#register_form(method="POST", action="/register")
								label(for='email') Email
								input#email(type='text', name="email")
								label.control-label(for='password') Password:
								input#password(type='password', name="password")
								input.btn.btn-primary(type='submit', value='Register')
				- else
					li
						a(href='/admin')= session.user.email
			form.navbar-search.pull-right
				input.search-query(type='text', placeholder='Search')