#header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a(href='/')
				img(src='/img/logo.png', height='80')
			p A project of the Commercial Fisheries Research Foundation
			#buttons
				a(href='/apply') Apply Now
				a(href='/survey') Submit Survey
				- if(session.user)
					a(href='/admin') Admin
					a(href='/logout') Logout
				- else
					a#login_button(href='#') Login
				#login_area
					form#login_form.well(method='POST', action='/login')
						input#email(type='text', name='email', placeholder='Email')
						input#password(type='password', name='password', placeholder='Password')
						input.btn(type='submit', value="Login")

			//
				.pull-right
					- if(session.user)
						.btn-group
							button.btn.dropdown-toggle(data-toggle='dropdown', href='#') #{session.user.name}
								span.caret
							ul.dropdown-menu
								li
									a(href='/admin') Admin
								li
									a(href='/logout') Logout
					- else
						a.btn(href='#login_modal', data-toggle="modal") Login