.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href='#') Gear Trials Project
			ul.nav
				li
					a(href='#') Reports
				li
					a(href='#') Articles
				li
					a(href='#') Gallery
				li
					a(href='#') About
			ul.nav.pull-right
				li.divider-vertical
				li
					a(href='#') Login
			form.navbar-search.pull-right
				input.search-query(type='text', placeholder='Search')