#header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a(href='/')
				img(src='/img/header.png')
			.pull-right
				- if(session.user)
					.btn-group
						button.btn.dropdown-toggle(data-toggle='dropdown', href='#') #{session.user.name}
							span.caret
						ul.dropdown-menu
							li
								a(href='/admin') Admin
							li
								a(href='/logout') Logout
				- else
					a.btn(href='#login_modal', data-toggle="modal") Login
					

//
	.header
		#title.pull-left
			h1
				small Welcome to the
				span Gear Trials Program
		#user-area.pull-right
			- if(session.user)
				p
					span #{session.user.name}
					br
					a(href='/admin') Admin
					a(href='/logout') Logout
			- else
				a(href='#login_modal', data-toggle="modal") Login
			.span2
				.pull-right
					- if(session.user)
						p #{session.user.name}
						a(href='/admin') Admin
						a(href='/logout') Logout
					- else
						a(href='#login_modal', data-toggle="modal") Login
#login_modal.modal.hide
	.modal-header
		h3 Login
	form(method="POST", action="/login")
		.modal-body
			.form
				label(for='email') Email
				input#email(type='text', name="email")
				label.control-label(for='password') Password:
				input#password(type='password', name="password")
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Cancel
			input.btn.btn-primary(type='submit', value='Login')