.navbar.navbar-fixed-top
	.navbar-inner
		.container.header
			a.brand(href='#') Gear Trials Project
			ul.nav
				li
					a(href='#') Reports
				li
					a(href='#') Articles
				li
					a(href='#') Gallery
				li
					a(href='#') About
			ul.nav.pull-right
				li.divider-vertical
				li
					a(href='#').login Login
					.login-area
						form#login-form
							label(for='login-username') Username
							input#login-username(type='text')
							label.control-label(for='login-pass') Password:
							input#login-pass(type='password')
							input.btn.btn-primary(type='submit', value='Login')
			form.navbar-search.pull-right
				input.search-query(type='text', placeholder='Search')