extends layout

block content
	include ./sidebars/sidebar
	.span10.offset2
		.welcome
			img(src='/img/homepage-photo.png')
			.page-header
				h1 Welcome to the Gear Trials Program
			!{content.welcome_text}
		.news
			.page-header
				h1 News <small>Industry-related news and events</small>
			!{content.news}

