extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page
			#slider.nivoSlider.theme-default
				img(src='/img/home/home1.jpg')
				img(src='/img/home/home2.jpg')
				img(src='/img/home/home3.jpg')
			!{content.welcome_text}
		.page
			h1 Announcements
				small Meeting announcements and program updates
			!{content.announcements}
