extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			h1 Fisherman Survey Form - Monthly Reporting
		!{content.instructions}
		form#survey_form
			fieldset
				legend Your Information
				.control-group
					label.control-label Name:
					.controls
						input#name.input-xlarge(type='text')
				.control-group
					label.control-label Vessel:
					.controls
						input#vessel.input-xlarge(type='text')
				.control-group
					label.control-label Reporting Period:
					.controls
						select.input-small#reporting_month
							option(value='')	Month
							option(value='Jan') Jan
							option(value='Feb') Feb
							option(value='Mar') Mar
							option(value='Apr') Apr
							option(value='May') May
							option(value='Jun') Jun
							option(value='Jul') Jul
							option(value='Aug') Aug
							option(value='Sept') Sept
							option(value='Oct') Oct
							option(value='Nov') Nov
							option(value='Dec') Dec
						select.input-small#reporting_year
							option(value='') Year
							option(value='2012') 2012
							option(value='2013') 2013
			fieldset
				legend Survey
				.control-group
					label.control-label Check the type(s) of bycatch reduction gear you have been using on your fishing vessel:
					.controls
						label.checkbox
							input#drop_chain_small(type='checkbox')
							span 12" Drop Chain (small vessel category)
						label.checkbox
							input#drop_chain_large(type='checkbox')
							span 12" Drop Chain (large vessel category)
						label.checkbox
							input#belly_panel(type='checkbox')
							span Large Mesh Belly Panel
				.control-group
					label.control-label What small mesh fishery were you targeting?
					.controls
						label.checkbox
							input#squid(type='checkbox')
							span Squid
						label.checkbox
							input#whiting(type='checkbox')
							span Whiting
						label.checkbox
							input#scup(type='checkbox')
							span Scup
						label.checkbox.other
							input#other(type='checkbox')
							span Other (please name species)
						input#other_detail(type="text")
				.control-group
					label.control-label What statistical areas did you primarily fish in while using the bycatch reduction gear?
					.controls
						textarea#stat_areas(rows='4')
				.control-group
					label.control-label Did you make any adjustments or modifications to the gear? If so, how?
					.controls
						textarea#adjustments(rows='4')
				.control-group
					label.control-label Under what fishing conditions did you use the bycatch reduction gear? (ex: high incidence of dogfish)
					.controls
						textarea#conditions(rows='4')
				.control-group
					label.control-label Did you find the gear to be effective in reducing winter flounder bycatch?
					.controls
						label.radio
							input(type='radio', name="effective", value="Yes")
							span Yes
						label.radio
							input(type='radio', name="effective", value="No")
							span No
				.control-group
					label.control-label Over the past month, did you observe a reduction in target species when using the bycatch reduction gear? If so, estimate the percent reduction of each target species.
					.controls
						textarea#reduction_target(rows='4')
				.control-group
					label.control-label Over the past month, did you observe a reduction in bycatch species when using the bycatch reduction gear? If so, estimate the percent reduction of each bycatch species.
					.controls
						textarea#reduction_bycatch(rows='4')
				.control-group
					label.control-label Will you continue to use the gear?
					.controls
						label.radio
							input(type='radio', name="continue", value="Yes")
							span Yes
						label.radio
							input(type='radio', name="continue", value="No")
							span No
				.control-group
					label.control-label Please share any additional observations below.
					.controls
						textarea#observations(rows='6')
				input.btn.btn-primary(type='submit', value='Send Survey')
	#survey_modal.modal.hide
		.modal-header
			h3.error Error Submitting Survey
			h3.success Survey Submitted
		.modal-body.error
			p There was an error submitting your survey. Please wait a few seconds, then try again. If the error continues, please contact:
		.modal-body.success
			p Thank you for submitting your monthly survey. This information will help greatly towards the success of this program.
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Close

