// Custom Styles
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
	margin-top: @navbarHeight + 20;
}

.sidebar {
	.voucher-lookup {
		input {
			width: 100%;
		}
	}
	.actions {
		text-align: center;
		.btn {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}