// Custom Styles
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
	margin-top: @navbarHeight + 20;
}
.fixed {
	position: fixed;
}

.header {
	.login-area, .register-area {
		display: none;
		position: absolute;
		right: 0;
		top: @navbarHeight;
		z-index: @zindexModal;
		background-color: #FFF;
		border: 1px solid @grayLight;
		padding: 10px;
		button {
			margin: 0;
		}
		.border-radius(0 0 5px 5px);
	}
}

.sidebar {
	.voucher-lookup {
		input {
			width: 100%;
		}
	}
	.actions {
		text-align: center;
		.btn {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

// Admin Page
.admin-area{
	.admin-tabs{
		width: 20%;
		font-size: 2em;
	}
	.tab-content {
		margin-left: 25%;
	}
}
