extends ../../layout

block content
	include ../../sidebars/admin_sidebar
	input#page(type='hidden', value='#{page}')
	.span10.offset2
		.page-header
			h1 Edit About Us Page
		textarea#about.tinymce 
			!{content.about}
		button.save-content.btn.btn-primary Save