extends ../../layout

block content
	include ../../sidebars/admin_sidebar
	input#page(type='hidden', value='#{page}')
	.span10.offset2
		.page-header
			h1 Edit Research Page
		textarea#research.tinymce 
			!{content.research}
		button.save-content.btn.btn-primary Save