extends layout

block content
	#about.span10.offset2.page
		.page-header
			a(name='get-involved')
			h1 About the Program
		p The “Gear Trials Program”, sponsored by the Commercial Fisheries Research Foundation (CFRF), is a program intendedto financially assist industry with utilizing and further testing two gear types – the large mesh belly panel and the drop chain – within the small mesh trawl fisheries. It is part of the CFRF’s “Challenge Grant Program for Conservation Engineering Projects – Winter Flounder Bycatch Reduction” that was established through federal financial support obtained by U.S. Senator Jack Reed (D-RI). This program is aimed at developing tools for fishermen to avoid unwanted winter flounder bycatch in the southern New England stock area.
		p The drop chain and large mesh belly panel tested under both the Proof of Concept and Full Proposal phases of research have shown promising results in reducing winter flounder bycatch in the small mesh squid trawl fishery. The intent of the Gear Trials Program is to expand on this research by offering financial assistance to fishing vessel owners based in the southern New England region who are willing to install these gear types on their fishing vessels and test their performances in other small mesh trawl fishing circumstances including the squid, whiting, and scup fisheries.
		p Having these gear types used in a wider range of applications, and acquiring additional feedback from fishermen will enable researchers to compile further information on whether this type of gear is useful to different size fishing vessels, and in other small mesh fisheries, and if there are additional ways to improve its effectiveness. Feedback from fishermen will be obtained through monthly reports and dockside interviews, and will be coupled with additional at sea research by scientists onboard a select subset of fishing vessels.
		p Overall, the Gear Trials Program is intended to provide financial assistance to fishermen so they can install this gear on their vessels and have an opportunity to try this gear out for themselves. It is also intended to gather additional qualitative and quantitative information, and to relay those observations back to the commercial fishing industry. It follows the strategy of seeking to provide more information on a set of tools that fishermen may choose to utilize as they seek to diminish unwanted bycatch of winter flounder.
		p In summary, the major goals and objectives of the Gear Trials Program are to:
		ol
			li Financially assist fishing vessel owners with utilizing two gear types in the small mesh trawl fishery - large mesh belly panel and drop chain - that are aimed at reducing winter flounder bycatch in the SNE stock area;
			li Extend the proof of concept and full proposal research done under the Challenge Grant Program for Conservation Engineering Projects by observing the effectiveness of these gear types in reducing winter flounder bycatch in other types of small mesh trawl fishing situations;
			li Utilize both fishermen qualitative observations and additional quantitative measurements by researchers to extend the research record on these two gear types and communicate this information back to fishing industry members.
		.page-header
			a(name='program')
			h1 How the Program Works
		p Fishing vessel owners who meet the qualifying criteria established for the program may apply for participation to the program by submitting an application along with the required supporting documents. Once approved, the fishing vessel owner will be issued a voucher(s) for store credit at one of the participating gear suppliers to purchase either 1) the drop chain gear components (in accordance with either a small vessel or large vessel voucher designation); 2) the large mesh belly panel; or 3) both types of gear. Applying for one or two vouchers (for one or both types of gear) will be the fishing vessel owner’s choice.
		p When the fishing vessel owner is issued a voucher, that person (or a designated captain or crew member working on the vessel) may present the voucher at a participating gear supplier, along with the individual voucher ID number issued for that fishing vessel. The gear supplier will be able to use the ID number to access an online database to determine if the voucher is still valid (not previously used at another gear supplier). Once that determination is made and the voucher is deemed not yet used, the gear supplier will be able to proceed with the gear transaction and that transaction will immediately be entered into the online data base system. Gear suppliers will in turn submit monthly invoices and online reports verifying all transactions and will be reimbursed by the CFRF.
		p In return for receiving the gear voucher, participating fishing vessel owners will agree to follow a set of rules and requirements. To view these, please click <a href="#">here</a>.
		p In addition to the voucher program, two comparable fishing vessels will be chosen by the CFRF to work with the scientists from the Cornell University Cooperative Extension Marine Program to collect quantitative data on the gear performance for each of the two gear types. The fishing vessel owners chosen to participate will enter into Work Agreements with the CFRF and be paid for their time at sea (up to 6 days at sea for each fishing vessel). For more information on this part of the program and how to apply for consideration as one of the two fishing vessels, please click <a href="#">here</a>.
		p As information is generated by both the fishing vessel captains using the different types of fishing gear on their vessels, and the research component of the program, it will be summarized and posted on this website. At the end of the 18 month program, the CFRF will sponsor a research session for participants to review science research results and to share observations. To follow the information sharing portion of the program, click <a href="#">here</a>.
		.page-header
			a(name='get-involved')
			h1 How to get involved
		p Please follow these steps if you are interested in getting involved:
		ol
			li 



