extends ../layout

block content
	include ../sidebars/dealer_sidebar
	.span9.offset3
		.page-header
			h1 Admin Page
		p Welcome to the Gear Trials Program administrative area.
		p In the left sidebar, you will be able to perform 3 functions:
		h2 Process Voucher
		ul
			li When a fisherman presents a voucher at your business, select this in order to verify the voucher # as well as process the voucher.
		h2 View Vouchers
		ul
			li This area will display all vouchers that you have processed at your business.
		h2 Monthly Reports
		ul
			li This will generate a monthly report displaying all vouchers you have processed during the month. This will be submitted to the CFRF along with your invoice every month.