extends ../layout

block content
	ul.nav.nav-tabs
		li
			a(href='/process-voucher') Process Voucher
		li
			a(href='/vouchers') View Vouchers
		li.active
			a(href='/reports') Reports
	#dealer-area
		.page-header
				h1 Reports